Thumbs.db
[Dd]esktop.ini
*.iml
build/
.gradle/
out/
run/
src/api/
src/test/
.idea/
.DS_Store
.AppleDesktop
Temporary Items
.apdisk
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
